.group {
    display: flex;
}

.form-group {
    width: 300px;
    height: 100vh;
}

.container {
    width: 300px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}